# Visual Studio Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Environment
.env
.env.local

# Node
node_modules/

# Logs
*.log
*.log*
/.idea/

# Build output
dist/

# Rsbuild
.rspack-profile-*/

# Local
*.local
